Sequence Data Types
1. List : used to store multiple items in a single variables.
2. ListItems: are ordered changebale and allow duplicate values
3. listeitem are index with first has index start from zero and so on 
4. declared with help of seqare bracets : [ 1,2,3]

print type of list
print first element
print length of list

In [2]:
n = [67,23,90,'name',12.34];
print(type(n));
print(n[0]);
print(len(n));

<class 'list'>
67
5

In [3]:
n = [67,23,90,'name',12.34];
print("List items are: ")
for  item in  n:
    print(item);

List items are:
67
23
90
name
12.34

Find max and min value in numeric list

In [4]:
n = [67,23,90,1,12.34];
print(max(n));
print(min(n));

90
1

chekc if item present in list onr not with in and not in operators

In [5]:
n = [67,23,90,1,12.34];
print(23 in n);
print(200 not in n);
print(1234 in n);

True
True
False

insert item in ilist

In [6]:
n = [67,23,90,1,12.34];
n.append(89);
for item in n:
    print(item);

67
23
90
1
12.34
89

insert item at specific index

In [7]:
n = [67,23,90,1,12.34];
n.insert(1,189);
for item in n:
    print(item);

67
189
23
90
1
12.34

update specific index;

In [8]:
n = [67,23,90,1,12.34];
n[1] =200;
for item in n:
    print(item);

67
200
90
1
12.34

empty out list;

In [10]:
n = [67,23,90,1,12.34];

print(n);
n.clear();
print(n);

[67, 23, 90, 1, 12.34]
[]

remove item from specefic index use pop
if want to delete by value use remove

In [11]:
n = [67,23,90,1,12.34];

print(n);
n.pop(2);
print(n);
n.remove(23);
print(n);

[67, 23, 90, 1, 12.34]
[67, 23, 1, 12.34]
[67, 1, 12.34]

copy or extend a list

In [13]:
n = [67,23,90,1,12.34];
l =n;
h = n.copy();
print(h);
l.remove(67);
k =[1,2];
k.extend(n);

print(k);

[67, 23, 90, 1, 12.34]
[1, 2, 23, 90, 1, 12.34]

print specific index only

In [14]:
n = [67,23,90,1,12.34];

print(n[1:3]);
print(n[2:]);
print(n[:3]);

[23, 90]
[90, 1, 12.34]
[67, 23, 90]

sorting list

In [15]:
n = [67,23,90,1,12.34];
n.sort();
print(n);
n.sort(reverse=True)
print(n);

None
None